<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirmação de Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Obrigado!</h1>
      <h4>O email "{{ email }}" foi confirmado com sucesso! Seu usuário "{{ usuario }}" já está ativo."</h4>
    </div>
  </body>
</html>
