<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Users</h2>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'MMMM dd, yyyy hh:mm'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="confirmed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Confirmed? </th>
              <td mat-cell *matCellDef="let element"> {{element.confirmed ? 'Confirmed' : 'Not Confirmed'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="isAdmin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Admin? </th>
              <td mat-cell *matCellDef="let element"> {{element.is_admin ? 'Yes' : 'No'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef >
                <button mat-icon-button color="primary" matTooltip="Refresh?" (click)="clickRefresh()">
                  <mat-icon>loop</mat-icon>
                </button>
              </th>
              <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-icon-button color="warn" matTooltip="Delete?" (click)="clickDeleteUser($event, element, i)">
                  <mat-icon>close</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator
                         [length]="dataLength"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         (page)="pageEvent = paginate($event)"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
