<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>
          This is an application for sharing moments!
        </p>

      </mat-card-content>
    </mat-card>

  </div>
</div>
