<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Photo Upload</h2>

        <div class="container">
          <div fxLayout="row wrap" fxLayoutAlign="center none" >
            <div fxFlex="50%" class="no-records animate">
              <mat-icon class="app-icon-decore">add_a_photo</mat-icon>
              <input type="file" class="file-input" accept="image/*"
                     (change)="onFileSelected($event)" #fileUpload>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center none" >
            <div fxFlex="50%" class="file-upload animate">
              {{fileName || "No file uploaded yet."}}
              <button mat-mini-fab color="primary" class="upload-btn"
                      (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>
          </div>
          <mat-icon> </mat-icon>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
