<div class="container" fxLayout="grid wrap" fxLayout.sm="column wrap" fxLayout.md="column wrap" fxLayout.xs="column wrap"
     fxLayoutAlign="center center" fxLayoutGap="20px">
  <div *ngFor="let image of images; let i = index" fxFlex="0 1 calc(20% - 20px)" fxFlex.md="0 1 calc(50% - 20px)">
    <mat-card class="photo-card">
      <div >
        <img class="photo-card-img" mat-card-image *ngIf="image?.src.length > 0" [src]="image.src"
             [alt]="image.caption"
             [matTooltip]="image.caption"/>
      </div>
      <mat-card-title>{{image.created_at | date: 'MMMM dd, yyyy hh:mm'}}</mat-card-title>
      <mat-card-content>
        <p>
            Owner: {{image.owner.full_name}} - {{image.owner.email}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="isAdmin" fxFlexAlign="end" align="end">
        <button *ngIf="!image.approved" mat-button color="accent" (click)="clickApprovePhoto($event, image, i)" matTooltip="Approve photo from gallery!">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-button color="warn" (click)="clickDeletePhoto($event, image, i)" matTooltip="Delete photo from gallery!">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
