<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="form" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
    <mat-card>
      <mat-card-title>Jack & Jill Wedding Big Day</mat-card-title>
      <mat-card-subtitle>Signup to your account</mat-card-subtitle>
      <mat-card-content>

        <mat-form-field class="full-width">
          <input id="fullNameInput" matInput placeholder="Full Name" formControlName="fullName"
                 autocomplete="fullName">
          <mat-error id="requiredFullNameError" *ngIf="form.controls['fullName'].hasError('required')">
            Full Name is
            <strong>required</strong>
          </mat-error>

          <mat-error id="minFullNameError" *ngIf="form.controls['fullName'].hasError('minlength')">
            Minimum of
            <strong>6 characters</strong>
          </mat-error>

          <mat-error id="maxFullNameError" *ngIf="form.controls['fullName'].hasError('maxlength')">
            Maximum of
            <strong>10 characters</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                 type="text">

          <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="New Password" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
          <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
            {{hideNewPassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>

          <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
            Please enter a new password
          </mat-error>

          <mat-error id="minEmailError" *ngIf="form.controls['newPassword'].hasError('minlength')">
            Minimum of
            <strong>4 characters</strong>
          </mat-error>

          <mat-error id="maxEmailError" *ngIf="form.controls['newPassword'].hasError('maxlength')">
            Maximum of
            <strong>10 characters</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Confirm New Password" formControlName="newPasswordConfirm" [type]="hideNewPassword ? 'password' : 'text'"
                 autocomplete="new-password">
          <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
            {{hideNewPassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>

          <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('required')">
            Please confirm your new password
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="login-actions">
        <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="signup()">Send</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>
