<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex fxFlexAlign="start" align="start">
            <h2>Event Gallery</h2>
          </div>
          <div *ngIf="isAdmin" fxFlex fxFlexAlign="end" align="end">
            <mat-slide-toggle
                [checked]="onlyToApprove" (change)="toggle($event)">
              Filter by only to approve
            </mat-slide-toggle>
          </div>
        </div>
        <mat-paginator #paginator
                       [length]="dataLength"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       (page)="pageEvent = paginate($event)"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        <div>
          <div *ngIf="!photos.length" class="text-center no-records animate"
               fxFlex="0 1 calc(20% - 20px)" >
            <mat-icon class="app-icon-decore">dashboard</mat-icon>
            <p>This is the our gallery! No photos posted yet, be the first!</p>
          </div>
          <div *ngIf="photos.length">
            <app-image-list [images]="photos" [reloadEvent]="reloadEvent"></app-image-list>
          </div>
          <mat-icon> </mat-icon>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
