.photo-card {
  min-width: 180px;
  height: 280px;
  text-align: center;
  margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
}

.photo-card img{
  height: 150px;
  object-fit: contain;
}
